flashrc.py
flash_desc.json
flash.log
NOTES
NOTES.particle_loss
NOTES.runs
coll_heatrate.idl
Lcool_ion_slavin.tbl
*.save
seed_test*
*.AdamsBash
*.F90.cylindrical
*.F90.with_swb

*.py
*.pyc
*.pro
test_*

*~
*.swp
*.o
*.mod
*.sav
*.log
*.old*
*.txt*
*.png
*.tar*

build/
setup/
run-*/
__pycache__/
